.navbar{
    display: flex;
    align-items: center;
    background-color: white;
}
.navbar img{
    width:25px;
    height:25px;
    margin-left: 0.5rem;
}
.navbar .logo span{
    font-size:10px;
    padding-left: 0.4rem;
    color:crimson ;
    font-weight:650;
}
.navbar .user .circular-image{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.4rem;
}
.navbar .user span{
    font-size:12px;
    font-weight: 500;
    padding-right: 0.4rem;
}
.navbar .user button{
    font-size:12px;
    margin-right: 0.3rem;
    font-weight: 500;
    color:skyblue;

}