.navbar{
    display: flex;
    align-items: center;
    background-color: white;
}
.navbar img{
    width:20px;
    height:20px;
    margin-left: 0.5rem;
}
.navbar .logo span{
    font-size:8px;
    padding-left: 0.4rem;
    color:crimson ;
}
.navbar .user .circular-image{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.3rem;
}
.navbar .user span{
    font-size:10px;
    padding-right: 0.4rem;
}
.navbar .user button{
    font-size:10px;
    margin-right: 0.3rem;
}